.list {
    list-style: none;
    display: flex;
    gap: 30px;
    text-align: center;
    margin: 30px 0 25px;
    padding: 15px 0;
    border-radius: 10px;
    box-shadow: 1px 3px 4px 1px rgb(204, 220, 244);
}

.item {
    width: 200px;
    font-size: 24px;
    font-weight: bold;
}

.item::first-letter {
    text-transform: uppercase;
}
.good {
    composes: item;
    color: green;
}
.neutral {
    composes: item;
    color: rgb(204, 167, 16);
}
.bad {
    composes: item;
    color: rgb(194, 12, 12);
}
.result {
    margin: 15px auto;
    width: max-content;
    font-size: 20px;
    font-weight: bold;
}