@import-normalize; /* bring in normalize.css styles */

body {
  font-family: sans-serif;
  line-height: 1.5;
  margin: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  margin: 0 auto;
  padding: 50px;
  width: min-content;
  height: 420px;
  background-color: rgb(252, 254, 255);
  border-radius: 10px;
 box-shadow: 2px 3px 5px 3px rgb(204, 220, 244);
}
